h1 {
    text-align: center;
}
p {
    text-align: center;
}
body {
    background-color: aquamarine;
}
h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
button {
    margin-left: 570px
}
p {
    font-family: "Times New Roman", Times, serif;
}
ul {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
h5 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
hr {
    color: salmon;
}
h6 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    font-family: "Times New Roman", Times, serif;
}